<br/>
<div class="offset-md-3 col-md-6">
  <h2>Create New Claim</h2>
  <%=render partial: "shared/errors", locals: { object: @claim } %>
  <%= form_for @claim, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <div class="form-group">
      <label for="inputAddress">Name</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Description</label>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    
    <button type="submit" class="btn btn-success">Create</button>
    <%=link_to "Cancel", claims_path, class: "btn btn-primary" %>
  <% end %>
</div>